<h1> Library </h1>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.options.display.float_format = "{:,.2f}".format
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import warnings
warnings.simplefilter("ignore")

In [2]:
storebranch = pd.read_csv('storebranch.csv')
shoopers = pd.read_csv('shoppers.csv')
orders = pd.read_csv('orders.csv')
order_product=pd.read_csv('order_product.csv')

In [46]:
orders

,order_id,lat,lng,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,total_minutes
0,6abd5e28d01b7c733fe37485294235dc,18.22,-100.31,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,0:0:1.051660
1,0d37a1eea001f01b40232ffd496ff663,18.18,-100.36,2,13:00:00,10:28:10,False,c4c722114a82fa21654e57e9636d68b0,c4c722114a82fa21654e57e9636d68b0,2bbf833e689d24b697f1f3529c3f3c4b,0:0:1.051660
2,528428e9b9eb5d3bd0dbdd8da692b087,18.27,-100.32,2,11:00:00,10:40:50,False,e15c7a67d0ea9a54dffb410bc1d8528b,e15c7a67d0ea9a54dffb410bc1d8528b,8d891dfc0e29d744c15c18adced74a68,0:0:1.051660
3,d3f7be6d64eae7405b7bf024e04807a2,18.25,-100.32,2,10:00:00,09:41:47,False,d1f0bd4b237c1358f09db22076b940e7,d1f0bd4b237c1358f09db22076b940e7,0dc6fb5924a8b917bc641666ed02663c,0:0:1.051660
4,e0ad6533b6cd9a382ec6c1d473c5036c,18.23,-100.32,2,11:00:00,10:07:53,False,06a71e8ab0c6db5ce22a4689fd76a3f4,06a71e8ab0c6db5ce22a4689fd76a3f4,afd0a7b8d546fcc697bb93a5934b65c3,0:0:1.051660
...,...,...,...,...,...,...,...,...,...,...,...
7290,d2f2a9bd2a4c0768aafaf3d169dca8ee,18.23,-100.39,2,15:00:00,13:49:02,False,fcdf89d67adaeec14947fed659d1e2c8,fcdf89d67adaeec14947fed659d1e2c8,3dd9ae393aa5327edfb27388758436bd,0:0:1.051660
7291,e813a2be0ff5f6f43e50eb4d876c49ac,18.22,-100.41,2,12:00:00,10:23:36,False,02297f2f55633ffc8bdec4b28da202fb,02297f2f55633ffc8bdec4b28da202fb,2d69acabaafd2516eeffd3c69b3c1328,0:0:1.051660
7292,521a26393f81cf403f7fcc5093e73665,18.28,-100.35,2,13:00:00,12:11:55,False,c7fbbbb84c7edb8d10c0238d790d3416,c7fbbbb84c7edb8d10c0238d790d3416,4f01884af565f4d2df35419e09cf58d0,0:0:1.051660
7293,13c6390a1cc8fbab23db8c2d38a56bd1,18.29,-100.33,2,11:00:00,10:38:28,False,d508e581ef137d531e243586655bcce8,d508e581ef137d531e243586655bcce8,4f01884af565f4d2df35419e09cf58d0,0:0:1.051660
7294,7ffa2d60aea99143b28564d737ca4b2b,18.19,-100.35,4,23:00:00,22:49:00,False,ece076b426c6c5c11edfe242a144acf6,ece076b426c6c5c11edfe242a144acf6,ea19343a1b5262c624347d89cc17aa9e,0:0:1.051660

<h1> Nulls </h1>

In [3]:
orders['total_minutes'].isnull().any()

True

In [4]:
orders['total_minutes'].isnull().sum()

752

<h1> Median </h1>

In [5]:
orders['total_minutes'].notna().median(axis=0, skipna=True)

1.0

In [6]:
orders.total_minutes.fillna(value=1.0, axis=0, inplace=True)

In [7]:
b=[]
for i in range(len(orders['actual_time'])):
    b.append(str(datetime.timedelta(minutes=orders.total_minutes[i])))

In [8]:
bv= pd.DataFrame(data=b)

In [30]:
bv

                   0
0     1:31:48.051660
1     3:26:35.983920
2     1:33:27.480060
3     2:04:46.725660
4     2:10:19.272480
...              ...
7290  0:56:36.637680
7291  2:12:48.711840
7292  1:31:00.829620
7293  1:19:46.237920
7294         0:01:00

[7295 rows x 1 columns]

In [9]:
df3 = pd.DataFrame()

In [10]:
df3['Time']=pd.to_datetime(orders['actual_time'],format='%H:%M:%S').dt.time

In [19]:
mask =  orders['total_minutes']=='0:01:00'

In [23]:
sum(mask)

7295

In [37]:
mask=orders['total_minutes']=='0:01:00'

In [45]:
sum(orders['total_minutes'][mask])

0

In [44]:
sum(orders['total_minutes'][mask]=='0:0:1.051660')

0

In [41]:
orders['total_minutes'][mask]='0:0:1.051660'

In [42]:
orders.loc[mask,'total_minutes']='0:1:1.051660'

In [43]:
orders['total_minutes_transformed']=pd.to_datetime(b,format='%H:%M:%S.%f').dt.time

ValueError: time data '0:01:00' does not match format '%H:%M:%S.%f' (match)

In [ ]:
orders['Diff_Total'] =df2['Time']+df2[0]

In [ ]:
y = orders['actual_time']
y_bar = orde['promised_time']
summation = 0  #variable to store the summation of differences
n = len(y) #finding total number of items in list
for i in range (0,n):  #looping through each element of the list
  difference = y[i] - y_bar[i]  #finding the difference between observed and predicted value
  squared_difference = difference**2  #taking square of the differene 
  summation = summation + squared_difference  #taking a sum of all the differences
MSE = summation/n  #dividing summation by total values to obtain average
print "The Mean Square Error is: " , MSE

<H1>Uploading into PostgreSQL</H1>

In [ ]:
import sqlalchemy as db
import pandas as pd
import os
import glob

In [ ]:
extension = 'csv'
result = glob.glob('*.{}'.format(extension))
print(result)

In [ ]:
engine = db.create_engine('postgresql+psycopg2://postgres:admin@localhost/cornershop')
conn = engine.connect()

In [ ]:
for f in result:
    x = pd.read_csv(f,low_memory=False)
    x.to_sql(name=f.replace('.csv',''), con=conn, if_exists='replace', index=False)